<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aquired Jobs </title>
    <link rel="stylesheet" href="../css/aquiredjobs.css">
</head>

<body>
    <header id="heading">
        <h1>
            Aquired Jobs
        </h1>
    </header>
    {{!-- {{userData.username}} --}}
    {{#each Ajobs}}
    <div class="container">
        <h3>Job by: {{this.jobowner}}</h3>
        <p>Job description: {{this.jobdescription}}</p>
        <p>Amount: {{this.amount}}</p>
        <p>email : {{this.email}}</p>
        <form action="/jobdone/{{this._id}}/{{this.freelancer}}" method="POSt">
            <input type="submit" value="submit" class="done">
        </form>
        <form action="/cancel/{{this.id}}/{{this.freelancer}}" method="POST">
            <input type="submit" value="cancel" class="cancel">
        </form>
    </div>
    {{/each}}
</body>

</html>